@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

// Globals

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

body {
    display: grid;
    background-color: #F5F6F9;
}

// Header

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    padding: 0 24px;
    background-color: #FFFFFF;
    .header__left {
        .header__logo {
            width: 89px;
            height: 23px;
            background-image: url('../Assets/Logo.svg');
        }
        .header__search-bar {
            display: none;
        }
    }
    .header__links {
        display: none;
    }
    .header__hamburger-nav {
        position: relative;
        width: 24px;
        height: 20px;
        background-image: url('../Assets/Hamburger\ Menu.svg');
        cursor: pointer;
    }
    .header__close-nav {
        display: none;
        font-size: 30px;
        cursor: pointer;
        .header__nav-dropdown {
            position: absolute;
            right: 24px;
            width: 200px;
            padding: 5px 0;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #4A35C9;
            cursor: auto;
            border-radius: 5px;
            a {
                margin: 10px;
                font-size: 16px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}

// Sidebar

.sidebar {
    height: 72px;
    margin: 24px 24px 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4A35C9;
    border-radius: 10px;
    .sidebar__links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 33px;
        .sidebar__overview {
            display: flex;
            .selector {
                display: none;
            }
            .overview {
                display: flex;
                cursor: pointer;
                .overview__logo {
                    width: 18px;
                    height: 18px;
                    background-image: url('../Assets/Overview.svg');
                }
                a {
                    margin-left: 8px;
                    font-size: 16px;
                    font-weight: 700;
                    color: #FFFFFF;
                }
            }
        }
        .sidebar__reports {
            display: flex;
            .selector {
                display: none;
            }
            .reports {
                display: flex;
                cursor: pointer;
                .reports__logo {
                    width: 18px;
                    height: 18px;
                    background-image: url('../Assets/Report.svg');
                }
                a {
                    margin-left: 8px;
                    font-size: 16px;
                    color: #FFFFFF;
                }
            }
        }
        .sidebar__settings {
            display: flex;
            .selector {
                display: none;
            }
            .settings {
                display: flex;
                cursor: pointer;
                .settings__logo {
                    width: 18px;
                    height: 18px;
                    background-image: url('../Assets/Settings.svg');
                }
                a {
                    margin-left: 8px;
                    font-size: 16px;
                    color: #FFFFFF;
                }
            }
        }
        .sidebar__line {
            display: none;
        }
        .sidebar__help {
            display: none;
        }
    }
    .sidebar__reports {
        display: none;
    }
}

// Main Graph

main {
    margin: 24px 24px 0 24px;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 10px;

    .main-graph__title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 18px;
        border-bottom: 1px solid #E0E6ED;
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: 700;
        }
        .filter-button {
            width: 91px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #E0E6ED;
            border-radius: 5px;
            cursor: pointer;
            .filter-button__img {
                width: 16px;
                height: 10px;
                margin-right: 8px;
                background-image: url('../Assets/Filter\ Icon.svg');
            }
            a {
                font-size: 14px;
                color: #595959;
            }
        }
    }

    .main-graph__stats {
        display: grid;
        grid-template-columns: 1fr 1px 1fr;
        margin-top: 24px;
        .this-month {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 14px;
                font-weight: 400;
                color: #595959;
            }
            .this-month__percentage {
                display: flex;
                margin-top: 4px;
                h3 {
                    font-size: 18px;
                    font-weight: 700;
                    color: #3E8671;
                    margin-right: 8px;
                }
                .percentage {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .arrow-up {
                        width: 10px;
                        height: 10px;
                        margin-right: 4px;
                        background-image: url('../Assets/Up\ Arrow.svg');
                    }
                    p {
                        font-size: 14px;
                        font-weight: 700;
                        color: #61B984;
                    }
                }
            }
        }
        .vertical-line {
            width: 1px;
            height: 100%;
            border-left: 1px solid #E0E6ED;
        }
        .last-month {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            h2 {
                font-size: 14px;
                font-weight: 400;
                color: #595959;
            }
            .last-month__percentage {
                display: flex;
                margin-top: 4px;
                h3 {
                    font-size: 18px;
                    font-weight: 700;
                    color: #863E3E;
                    margin-right: 8px;
                }
                .percentage {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .arrow-down {
                        width: 10px;
                        height: 10px;
                        margin-right: 4px;
                        background-image: url('../Assets/Down\ Arrow.svg');
                    }
                    p {
                        font-size: 14px;
                        font-weight: 700;
                        color: #B96161;
                    }
                }
            }
        }
        .vertical-line2 {
            display: none;
        }
        .increase {
            display: none;
        }
    }

    .main-graph__img-container {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 188px;
        margin-top: 24px;
        border-left: 1px solid #E0E6ED;
        border-bottom:1px solid #E0E6ED;
        .main-graph__img {
            height: 142px;
            width: 100%;
            background-image: url('../Assets/Graph.png');
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    .main-graph__months {
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        p {
            font-size: 12px;
            color: #595959;
        }
        .oct {
            display: none;
        }
        .nov {
            display: none;
        }
        .dic {
            display: none;
        }
    }
}
