doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        script(src="https://kit.fontawesome.com/399363a32d.js", crossorigin="anonymous")
        script(src="script.js") 
        title Ideate
    body 

        header 
            .header__left
                .header__logo
                .header__search-bar 
                    .search-bar__img 
                    input(type="text", placeholder="Search reports")
            .header__links 
                .notifications 
                .user-settings 
                .profile
            #hamburgerNav.header__hamburger-nav(onclick="openMenu()")
            #closeNav.header__close-nav(onclick="closeMenu()")
                    i.fas.fa-times
                    #navDropdown.header__nav-dropdown 
                        a(href="#") Notifications
                        a(href="#") User Settings 
                        a(href="#") Profile

        nav.sidebar
            .sidebar__links 
                .sidebar__overview
                    .selector 
                    .overview 
                        .overview__logo 
                        a Overview
                .sidebar__reports 
                    .selector 
                    .reports 
                        .reports__logo 
                        a Reports
                .sidebar__settings 
                    .selector 
                    .settings
                        .settings__logo 
                        a Settings
                .sidebar__line 
                .sidebar__help
                    .selector 
                    .help
                        .help__logo 
                        a Help
            .sidebar__reports 
                .reports__description
                    h2 Reports generated 
                    p This is the number of reports you have used this month.
                p.reports__percentage
                .reports__bar

        main.main-graph 
            .main-graph__title
                h1 Reports Generated 
                .filter-button
                    .filter-button__img 
                    a Filter 
            .main-graph__stats 
                .this-month
                    h2 This month
                    .this-month__percentage 
                        h3 121 Reports 
                        .percentage
                            .arrow-up 
                            p 5%
                .vertical-line.vertical-line1
                .last-month 
                    h2 Last Month
                    .last-month__percentage
                        h3 109 Reports 
                        .percentage
                            .arrow-down 
                            p 5%
                .vertical_line.vertical_line2
                .increase
                    h2 % Increase
                    .increase__percentage
                        h3 50%
            .main-graph__img-container 
                .main-graph__img 
            .main-graph__months 
                p.jan Jan
                p.feb Feb
                p.mar Mar 
                p.apr Apr
                p.may May
                p.jun Jun
                p.jul Jul
                p.aug Aug
                p.sept Sept
                p.oct Oct
                p.nov Nov
                p.dic Dic

        section.referals
            .referals__description 
                h1 Earn up to 40% off by referring people
                p We just kicked off our referral program. Invite people to Ideate and get 40% off on your next renewal.
                .input__container 
                    input(type="email", placeholder="Enter email address")
                    button Invite
                p.restrictions * Applicable to new accounts only.
            .offer__img

        section.data-table
            .data.data0
                p.name Report Name 
                p.created Created At 
                p.sent Sent to 
                p.last-updated Last Updated ON 
                p.sent-by Sent by 
                p.open-rate Open Rate 
                p.actions Actions
            .horizontal-line
            .data.data1
                p.name Marketing Strategy 
                p.created 12/02/2021
                p.sent 95 emails 
                p.last-updated 12/02/2021 4:45 PM 
                p.sent-by Michael Dave 
                p.open-rate 100%
                button.actions Edit
            .horizontal-line
            .data.data2 
                p.name Quarterly Update 
                p.created 05/05/2021
                p.sent 112 emails 
                p.last-updated 14/07/2021 7:45 AM 
                p.sent-by Davis Young 
                p.open-rate 99%
                button.actions Edit
            .horizontal-line
            .data.data3 
                p.name Financial Risks 
                p.created 08/09/2020
                p.sent 84 emails 
                p.last-updated 06/12/2020 12:45 PM 
                p.sent-by Jennifer Lee 
                p.open-rate 77%
                button.actions Edit
            .horizontal-line
            .data.data4
                p.name New Hires 
                p.created 12/04/2020
                p.sent 60 emails 
                p.last-updated 12/04/2020 12:00 PM 
                p.sent-by Sara Felix 
                p.open-rate 45%
                button.actions Edit
            .horizontal-line
            .data.data5
                p.name New Hires 
                p.created 12/04/2020
                p.sent 60 emails 
                p.last-updated 12/04/2020 12:00 PM 
                p.sent-by Sara Felix 
                p.open-rate 45%
                button.actions Edit

        



                
        